
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  font-family: 'Roboto', sans-serif;
}
body{
  background-color: #27262c;
  color: #FFF;
  background-image: url(images/Backimg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}
div{
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
}
h2{
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  margin-top: 12rem;
  margin-bottom: 3rem;
  text-align: center;
}

a{
  display: block;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  background:  #4044ED;
  padding: .7rem;
  margin: 1.5rem;
  width: 20rem;
}

